
body {
    background: white;
}

.button {
    background: #F3F3F3;
}

.dkp {
    position: relative;
    justify-self: start;
}

.buttons {
    margin-top: 40px;
    margin-right: 40px;
    justify-self: end;
    grid-column: 2;
}

#product {
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-of-sauce {
    font-size: 36px;
    font-weight: bold;
}

.for-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 900px;
    height: 450px;
    background: #9A1212;
    border-radius: 60px;
    margin-top: 30px;
}

.description {
    width: 500px;
    color: white;
    font-size: 30px;
    margin-left: 55px;
    text-align: center;
}

.image {
    position: relative;
    width: 300px;
    height: 100%;
    background-image: url('../img/tomat.png');
    background-size: cover;
    background-position: center center;
    border-radius: 82px;
    margin-right: -25px;
}

.back {
    height: 60px;
    width: 84px;
    border-radius: 20px;
    background: white;
    margin-left: 40px;
}

.vetochka3 {
    position: absolute;
    right: 0;
    bottom: 0;
}

i{
    margin-left: 15px;
}

@media screen and (max-width: 1100px) {
    
    .description {
        margin-left: 20px;
    }
    .for-text {
        width: 700px;
        height: 380px;
    }

}

@media screen and (max-width: 800px) {
    
    .description {
        margin-left: 10px;
        font-size: 20px;
        width: 300px;
    }
    .for-text {
        width: 500px;
        height: 300px;
    }

    .image {
        width: 200px;
    }

}

@media screen and (max-width: 600px) {
    
    .title-of-sauce {
        text-align: center;
    }
    
    description {
        margin-left: 10px;
        font-size: 15px;
        width: 300px;
    }
    
    .for-text {
        width: 300px;
        height: 200px;
        border-radius: 30px;
        margin-top: 60px;
    }

    .image {
        width: 200px;
        border-radius: 50px;
    }

    .vetochka3 {
        display: none;
    }

    .dkp {
        grid-column: 1/3;
        justify-self: center;
        margin-top: 0px;
        margin-right: 0px;
        top: 0;
        left: 0;
    }
    .buttons {
        grid-column: 1/3;
        justify-self: center;
        margin: 0;
        margin-top: 15px;
    }

}